.phimHotTitle{
    background-color: #f6f6e9;
    color: #7b3911;
    border: 1px solid #f6f6e9;
    margin: 20px auto;
    border-radius: 10px;
    padding: 10px 0;
    width: 145px;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
}
.card .card-body, .card-title{
    background-color: #f6f6e9;
    color: #7b3911;
    font-weight: 800;
}
.detailPhim{
    font-size: 13px;
    color:#7b3911;
    font-weight: 700;
}
.detailPhim:hover, .muaVe:hover{
    color: #57E0BD;
    text-decoration: none;
}
.muaVe{
    border: 1px solid #937EA8;
    background-color: #937EA8;
    color: white;
    padding: 10px  15px;
    margin-top: 15px;
    display: block;
    width: 38%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
}

.muaVe::after,
.muaVe::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    transition: .5s;
}

.muaVe::after {
    top: -3px;
    left: -3px;
    border-top: 3px solid transparent;
    border-left: 3px solid transparent;
}

.muaVe::before {
    bottom: -3px;
    right: -3px;
    border-bottom: 3px solid transparent;
    border-right: 3px solid transparent;
}

.muaVe:hover {
    background-color: #f6f6e9;
    border: 1px solid black;
    color: #222222;
}

.muaVe:hover::after,
.muaVe:hover::before {
    width: calc(50% + 3px);
    height: calc(50% + 3px);
    border-color: #222222;
}

