@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.header{
    display: flex;
}
.logo{
    display: flex;
    width: 100%
}
.logoImage{
    width: 12%;
}
.logo .webName{
    margin-top: 2%;
    margin-bottom: 0;
    line-height: 0;
}
.webName h3{
    text-align: center;
    font-weight: 800;
    color: white;
}
.webName p{
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    color: white;
}
.login{
    width: 20%;
    margin-top: 2%;
    margin-bottom: 0;
    font-weight: 800;
}
.login a{
    color: white;
}
.login a:hover{
    color: #57E0BD;
    text-decoration: none;
}